<h1>Edit Post</h1>
<br />

<br />
<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" value="{{post.title}}" class="form-control" name="title" id="title" placeholder="please enter post title ...">
  </div>
  <div class="form-group">
    <label for="status">status</label>
    <select class="form-control" id="status" name="status">
      {{#selected post.status}}
        <option value="public">public</option>
        <option value="private">private</option>
        <option value="draft">draft</option>
      {{/selected}}
    </select>
  </div>
  <div class="form-group">
    <label for="cg">category</label>
    <select class="form-control" id="cg" name="category">
      {{#each cg}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    
    <input name="file" type="file" id="filename"  />
  </div>
  <div class="form-group">
    <label for="txtarea"> textarea</label>
    <textarea class="form-control" id="txtarea" rows="3" name="text" >{{post.text}}</textarea>
  </div>
  <div class="form-group">
   <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>